.hero-cont {
  @apply h-screen w-full  pt-24;
}
.hero-hdn-wrp {
  @apply ml-12 flex flex-col mb-16;
}
.hi {
  @apply text-[3.75rem] font-extrabold;
}
.name-span {
  @apply text-[3.75rem] max-w-[50%] font-extrabold;
}
.dvlper-desc {
  @apply max-w-[40%] text-lg tracking-widest;
}
.cv {
  @apply tracking-widest border  text-xs mb-32 ml-12 py-2 px-2 flex justify-between;
}
.cv img {
  @apply ml-4;
}

.btns {
  @apply flex flex-col ml-12;
}
.btn1 {
  @apply h-[0.75rem] w-[0.75rem] rounded-xl mb-2;
}
.btn2 {
  @apply h-[0.75rem] w-[0.75rem] rounded-xl mb-2 border-sky-500;
}
.hero1 {
  background: url("../../../public/images/hero1.jpg") #bdd1fe;

  background-blend-mode: soft-light;
  background-repeat: no-repeat;

  background-size: cover;
}
