@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

body {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  /* font-style: normal; */
}
.name {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
}

.custom-border {
  position: relative;
}

.custom-border::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 5;
  /* width: 50%; */
  height: 2px; /* Adjust this value to control the thickness */
  /* background-color: transparent; */
  transition: width 0.3s ease;
  /* Optional: Add a transition for a smoother effect */
}

.custom-border:hover::before {
  width: 28%;
  background-color: #3490dc; /* Adjust this value to control the color */
}
.hero {
  background-image: url ("/images/IMG_1502.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
html {
  scroll-behavior: smooth;
}
